* {
  margin-left: 1%;
}

h2 {
  padding-top: 10px;
  border-top: 1px solid #ddd;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee; /*h2タグの下に罫線*/
}

a {
  text-decoration: none;
  color: #4153f9;
}

a:hover {
  text-decoration: underline;
}

a:focus {
  text-decoration: underline; /*aタグにフォーカスが外れるまで下線*/
}
