body {
  text-align: center;
}

header {
  padding-bottom: 18px;
  background: linear-gradient(45deg, #00ff90, #0060df);
}

#line-1 {
  height: 50px;
  background-image: url("./hdr.png"); /* 背景画像 (^^) */
  background-size: 50px, 50px; /* 画像サイズ */
}

main {
  background: linear-gradient(255deg, #00ff90, #0060df);
}

#line-2 {
  height: 50px;
  background-image: url("./ftr.png"); /* 背景画像 (^^) */
  background-size: 50px, 50px; /* 画像サイズ */
}

footer {
  font-size: 30px;
  font-weight: bold;
  background: linear-gradient(155deg, #00ff90, #0060df);
}

@media screen and (min-width: 481px) {
  form [name="radios"] {
    margin-left: 10%;
    margin-right: 10%;
  }
}
