header > h1 {
  margin: 0;
  font-size: 100px;
  font-family: 'M PLUS Rounded 1c', sans-serif; /*Google Fonts*/
  text-shadow: 15px 10px 10px #00dd00;
}

#head-logo {
  text-decoration: none; /*aタグ(ロゴ)の下線をなくす*/
}

#how-to-use {
  color: #0143d9;
  text-decoration: none;
  padding: 5px 15px;
  background: rgba(99, 240, 78, .8);
  border-radius: 10px;
}


#h1-2 {
  padding: 15px;
  background: rgba(217, 255, 0, 0.693);
  border-radius: 40px;
  margin-left: 30%;
  margin-right: 30%;
}

.reference {
  font-weight: bold;
  background: linear-gradient(transparent 70%, #efda04 50%); /*下線*/
}

footer > small {
  text-shadow: 5px 3px 3.5px #00dd00;
}
